.header{
    background-color: rgb(29, 96, 229);
    text-align: center;
    color: white;
    align-content: center;
    padding: 30px;
}
h2{
    font-size: 40px;
}
.home{
    text-indent: 10px;
}

.inf{
    word-spacing: 20px;
    font-size: 15px;
}
img{
    display: flex;
    padding-left: 300px;
}
.content{
    text-align: center;
    display: flex;
}
footer{
    background-color: rgb(248, 246, 242);
    padding: 30px;
    text-align: center;
    font-size: 15px;
}