body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 100% 0%);
}
.container {
    max-width: 80%;
    margin: 10px auto;
    background-color: rgb(244, 239, 234);
}

.flex_container {
    display: flex;
}
.text_container{
    margin-left: 30px;
}